body{
    margin: 0 1em;
    background: url(https://images.unsplash.com/photo-1557853197-aefb550b6fdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80);
}
header{
    background: lightblue;
}
header a, #git_cheatsheet div a{
    padding-left: 5%;
    background: lightgrey;
}
header h1, #git_cheatsheet div h1 {
    font-size: 2em;
    border-bottom: 1px solid black;
    padding: 1.5em
}
ul{
    padding: 0;
    margin: 0;
    background: lightgrey;
}
ul li{
    display: inline;
    padding-left: 3.5em;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}
article a{
    background: lightblue;;
}
a:hover{
    color: black;
    background: white;
}
h1 {
    background: lightblue;
    text-align: center;
    margin: 0
}
p{
    background: lightgray;
    font-size: 2em;
    margin: 0
}
img{
    display: block;
    margin: 0 auto;
    width: 50%;
}
article{
    background: lightgrey;
}
#git_cheatsheet article{
    background: lightgrey;
}
#git_cheatsheet div{
    background: lightblue;
}
section:nth-of-type(1){
    border-bottom: 1px solid black
}